@tailwind base;
@tailwind components;
@tailwind utilities;
/* Increase pagination dot size */
.slick-dots li button:before {
  font-size: 24px; /* Increase dot size */
  color: gray;
}

.slick-dots li.slick-active button:before {
  color: black; /* Change active dot color */
}
